---
import Layout from "../layouts/Layout.astro";
import ShortedLinks from "../components/ShotedLinks.astro";
import Cards from "../components/Cards.astro";
import Logo from "../components/Logo.astro";
//import {Image} from 'astro:assets'
---

<Layout title="Frontend Mentor | Shortly URL shortening API Challenge">
	<main class="relative">
		<div class="bg-white px-10 relative">
			<div class="flex font-bold">
				<div class="my-auto">
					<h1 class="text-7xl">More than just shorter links</h1>
					<p class="text-my-gray text-xl font-medium">
						Build your brand’s recognition and get detailed insights
						on how your links are performing.
					</p>
					<button
						class="px-8 py-2.5 mt-8 text-white bg-my-cyan hover:bg-my-cyan-white rounded-full"
						>Get Started</button
					>
				</div>
				<img
					class="-mr-28 xl:mr-0"
					src="/images/illustration-working.svg"
					width={733}
					height={482}
					alt="working illustration"
				/>
			</div>
			<!-- SHORTENING FORM -->
			<div class="w-[800px] bg-white mx-auto translate-y-1/2">
				<form
					class="form-container bg-my-dark-violet p-8 flex w-full h-auto gap-3 justify-center mx-auto rounded-md"
				>
					<input
						type="text"
						placeholder="Shorten a link here..."
						class="flex-grow-[8] h-10 pl-4 rounded-md"
					/>
					<button class="flex-grow bg-my-cyan rounded-md text-white"
						>Shorten It!</button
					>
				</form>
			</div>
		</div>

		<div class="pt-20 px-10 pb-32 bg-my-gray-white">
			<ShortedLinks />
			<div class="mx-auto my-28 w-96 text-center">
				<h2 class="font-bold text-4xl">Advanced Statistics</h2>
				<small class="text-my-gray">
					Track how your links are performing across the web with our
					advanced statistics dashboard.
				</small>
			</div>
			<Cards />
		</div>
	</main>
	<div
		class="w-full text-center h-[200px] bg-my-dark-violet prefooter flex flex-col items-center justify-center text-white"
	>
		<div class="flex flex-col gap-4">
			<h2>Boost your links today</h2>
			<button
				class="bg-my-cyan hover:bg-my-cyan-white px-4 py-2 rounded-3xl"
				>Get Started</button
			>
		</div>
	</div>
	<footer class="flex bg-my-very-dark-blue pt-10 text-white">
		<div class="flex-grow basis-0">
			<div class="mx-auto w-fit">
				<Logo color="#fff" />
			</div>
		</div>
		<div class="flex flex-grow-[2] justify-center basis-0 gap-14">
			<div>
				<h6 class="mb-8 text-sm">Features</h6>
				<div class="flex flex-col gap-2">
				<a href="#" class="text-my-gray hover:text-my-cyan text-xs">Link Shortening</a>
				<a href="#" class="text-my-gray hover:text-my-cyan text-xs">Branded Links</a>
				<a href="#" class="text-my-gray hover:text-my-cyan text-xs">Analytics</a>
				</div>
			</div>
			<div>
				<h6 class="mb-8 text-sm">Resources</h6>
				<div class="flex flex-col gap-2">
					<a href="#" class="text-my-gray hover:text-my-cyan text-xs">Blog</a>
				<a href="#" class="text-my-gray hover:text-my-cyan text-xs">Developers</a>
				<a href="#" class="text-my-gray hover:text-my-cyan text-xs">Support</a>
				</div>
			</div>
			<div>
				<h6  class="mb-8 text-sm">Company</h6>
				<div class="flex flex-col gap-2">
					<a href="#" class="text-my-gray hover:text-my-cyan text-xs">About</a>
				<a href="#" class="text-my-gray hover:text-my-cyan text-xs">Our Team</a>
				<a href="#" class="text-my-gray hover:text-my-cyan text-xs">Careers</a>
				<a href="#" class="text-my-gray hover:text-my-cyan text-xs">Contact</a>
				</div>
			</div>
		</div>
		<div class="flex flex-grow basis-0 gap-5">
			<img class="w-7 h-7" src="/images/icon-facebook.svg" alt="Facebook" />
			<img class="w-7 h-7" src="/images/icon-twitter.svg" alt="Twitter" />
			<img class="w-7 h-7" src="/images/icon-pinterest.svg" alt="Pinterest" />
			<img class="w-7 h-7" src="/images/icon-instagram.svg" alt="Instagram" />
		</div>
	</footer>
</Layout>

<style>
	.form-container,
	.prefooter {
		background-image: url("/images/bg-boost-desktop.svg");
		background-repeat: no-repeat;
		background-position: 75% 84%;
		
	}

	.form-container {
		background-size: 150%;
	}

</style>
