---

---
<div class="flex justify-between w-full relative">
	<div
		class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-4 bg-my-cyan"
	>
	</div>
	<div
		class="relative max-w-80 rounded-md bg-white text-start px-8 pb-5 h-56"
	>
		<figure
			class="bg-my-dark-violet rounded-full absolute -translate-y-1/2 p-5"
		>
			<img
				src="/images/icon-brand-recognition.svg"
				alt="brand recognition"
			/>
		</figure>
		<div class="pt-14">
			<h5 class="font-bold mb-4">Brand Recognition</h5>
			<p class="text-sm text-my-gray">
				Boost your brand recognition with each click.
				Generic links don’t mean a thing. Branded links help
				instil confidence in your content.
			</p>
		</div>
	</div>
	<div
		class="relative max-w-80 rounded-md bg-white text-start px-8 h-56 mt-8"
	>
		<figure
			class="bg-my-dark-violet rounded-full absolute -translate-y-1/2 p-5"
		>
			<img
				src="/images/icon-brand-recognition.svg"
				alt="brand recognition"
			/>
		</figure>
		<div class="pt-14">
			<h5 class="font-bold mb-4">Detailed Records</h5>
			<p class="text-sm text-my-gray">
				Gain insights into who is clicking your links.
				Knowing when and where people engage with your
				content helps inform better decisions.
			</p>
		</div>
	</div>
	<div
		class="relative max-w-80 rounded-md bg-white text-start px-8 pb-5 mt-8 h-56 mt-16"
	>
		<figure
			class="bg-my-dark-violet rounded-full absolute -translate-y-1/2 p-5"
		>
			<img
				src="/images/icon-brand-recognition.svg"
				alt="brand recognition"
			/>
		</figure>
		<div class="pt-14">
			<h5 class="font-bold mb-4">Fully Customizable</h5>
			<p class="text-sm text-my-gray">
				Improve brand awareness and content discoverability
				through customizable links, supercharging audience
				engagement.
			</p>
		</div>
	</div>
</div>