---

---

<div class="w-[800px] mx-auto" id="shorted_links">
    <!-- <ul class="flex flex-col gap-4">
        <li
            class="flex items-center bg-white justify-between py-2 px-4 rounded"
        >
            <p>https://frontendmentor.io</p>
            <div class="flex items-center gap-4">
                <span class="text-my-cyan">https://rel.ink/k4lk4yz</span>
                <button
                    class="bg-my-cyan text-white w-20 text-center py-1.5 rounded-md hover:bg-my-cyan-white"
                    >Copy</button
                >
            </div>
        </li>
        <li
            class="flex items-center bg-white justify-between py-2 px-4 rounded"
        >
            <p>https://frontendmentor.io</p>
            <div class="flex items-center gap-4">
                <span class="text-my-cyan">https://rel.ink/k4lk4yz</span>
                <button
                    class="bg-my-cyan text-white w-20 text-center py-1.5 rounded-md hover:bg-my-cyan-white"
                    >Copy</button
                >
            </div>
        </li>
        <li
            class="flex items-center bg-white justify-between py-2 px-4 rounded"
        >
            <p>https://frontendmentor.io</p>
            <div class="flex items-center gap-4">
                <span class="text-my-cyan">https://rel.ink/k4lk4yz</span>
                <button
                    class="bg-my-cyan text-white w-20 text-center py-1.5 rounded-md hover:bg-my-cyan-white"
                    >Copy</button
                >
            </div>
        </li>
    </ul> -->
</div>
